/*  
Theme Name: Bread N Butta
Theme URI: http://juicemarketing.ca
Description: Custom Theme for Bread N Butta
Version: 1.0
Author: Juice
Author URI: http://juicemarketing.ca
*/


*{margin:0 auto; padding:0;}

html, body {
	height: 100%;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#fff url('images/bg.jpg') center top no-repeat;
}

/*-----------general styles--------------*/
a{
	color:#cf9000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img {border:none}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

h4 {
	color:#5b5b5b;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom:8px
}

.clearBoth{
	clear: both;
}

/*-------layout styles-----------*/
#page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px;
 }
 
#footer, .push {
 	height: 150px;
 	clear:both;
}

#footer{
	 background: #000;
}

.content-wrapper{
	width:1000px;
	background: #fff url('images/content_bg.gif') no-repeat center top;
	min-height:500px;
	height:auto !important;
  	height:500px;
  	padding-bottom:20px
}

.services-page p, .links-page p, .contact-page p, .artist-page p{
	margin-top: 10px
}

.services-page ul, .links-page ul, .contact-page ul, .artist-page ul{
	margin-bottom: 10px;
	margin-left: 20px
}

#content, .content-top{
	width:515px;
	float:left;
	padding-left:30px;
	padding-top:15px;
	margin-bottom: 20px;
}

#sidebar{
	width:400px;
	float:right;
	position:relative;
	top:-25px;
}

#header{
	height:200px;
	width:1000px;
	position: relative;
}


#header .header-blurb{
	position: absolute;
	width:184px;
	height:76px;
	left:568px;
	top:50px;
	font-size:11px;
}

.logo{
	float:left;
	margin-top:10px
}


/*-----nav--------*/

.nav ul li{
	display:block;
	margin-right:24px;
	list-style: none;
	margin-bottom:7px;
}

.nav{
	background: url('images/nav_bg.gif') no-repeat;;
	height:400px;
}

.nav ul{
	position: relative;
	top:42px;
}

.nav a{
	color:#fff;
	font-weight: 500;
	width:350px;
	height:44px;
	display: block;
}

.nav a:hover{
	color:#fff;
}


.nav a span{
	display:none;
}

.nav-home a{
	background: url('images/nav_home.gif') no-repeat left;
} 

.nav-artists a{
	background: url('images/nav_artists.gif') no-repeat left;
} 

.nav-brokebeats a{
	background: url('images/nav_brokebeats.gif') no-repeat left;
} 

.nav-services a{
	background: url('images/nav_services.gif') no-repeat left;
} 

.nav-links a{
	background: url('images/nav_links.gif') no-repeat left;
} 

.nav-contact a{
	background: url('images/nav_contact.gif') no-repeat left;
} 

/*----------footer---------------*/


#footer .footer-content{
	width:925px;
	position:relative;
}


#footer .footer-content a{
	font-size: 11px;
}

#footer .footer-content ul{
	margin-right: 50px;
	float:left;
	margin-top: 20px
}

#footer .footer-content ul li{
	list-style: none;
	margin-bottom:10px
}

/*-------------post-----------------*/

.post h4 a{
	color:#444
}


.entry{
	line-height: 18px;
	border-top:dashed 1px #ccc;
	margin-left: 20px
}

.postmetadata{
	padding: 2px 0;
	color: #AAA;
	font-size:11px
}

a.post-edit-link{
	padding: 2px 0 2px 20px;
	background: url('images/pencil.png') left center no-repeat;
	margin-left: 10px;
	text-decoration: none;
}

a:hover.post-edit-link{
	background:transparent url('images/pencil.png') left center no-repeat;
	text-decoration: underline;
	color:#666
}


.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

img.alignleft{
	margin-bottom:10px;
	margin-right:10px;
}

img.alignright{
	margin-bottom:10px;
	margin-left:10px;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

/*----------comments--------------------------*/
.alt{
	background: #EEE;
}

h4#comments, h3#respond{
	margin-top: 10px;
	padding-top:10px;
	margin-bottom: 10px;
}

.commentlist img.avatar{
	padding:2px;
	border:1px solid #d1c5af;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}

form textarea#comment{
	width:500px
}

.commentlist div p{
	float:right;
	width:445px;
}

.commentlist .comment{
	border: 1px dashed #eee;
	padding:10px;
}

.commentlist .comment:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.commentlist .comment {
    display: inline-block;
}

html[xmlns] .commentlist .comment {
    display: block;
}

* html .commentlist .comment {
    height: 1%;
}



/*-----------Page Styles------------------------------------------*/
h1.title span, h2.title span{
	display: none;
	
}

.home-page h1.title{
	background: url('images/heading_news.gif') no-repeat top left;
	height:40px;
	width:500px;
	float:left;
	margin-top:20px;
	margin-bottom: 20px;
}

.services-page h2.title{
	background: url('images/heading_services.gif') no-repeat top left;
	height:33px;
	width:500px;
	float:left;
	margin-top:20px;
	margin-bottom: 20px;
}

.contact-page h2.title{
	background: url('images/heading_contact.gif') no-repeat top left;
	height:33px;
	width:500px;
	float:left;
	margin-top:20px;
	margin-bottom: 20px;
}

.brokebeats-page h2.title{
	background: url('images/heading_brokebeats.gif') no-repeat top left;
	height:33px;
	width:500px;
	float:left;
	margin-top:20px;
	margin-bottom: 20px;
}

.links-page h2.title{
	background: url('images/heading_links.gif') no-repeat top left;
	height:33px;
	width:500px;
	float:left;
	margin-top:20px;
	margin-bottom: 20px;
}

.artists-page h2.title{
	background: url('images/heading_artists.gif') no-repeat top left;
	height:33px;
	width:500px;
	float:left;
	margin-bottom: 20px;
}

.artist-page h2.title{
	background: url('images/heading_artists.gif') no-repeat top left;
	height:33px;
	width:220px;
	float:left;
	margin-bottom: 20px;
}


#sidebar h1.title{
	background: url('images/heading_latest.gif') no-repeat top left;
	height:40px;
	width:382px;
	float:left;
	margin-top:20px;
}

.placeholder{
	width:92%;
	height:200px;
	background:#666;
	float:left;
	text-align:center
}


#content .wrapper{
	clear:both;
}

.wide-wrapper{
	clear:both;
	padding:30px
}

.page #sidebar{
	height:300px
}

.page .entry{
	border: none;
	margin-left: 0;
}

.wide-wrapper .entry{
	clear: both
}

.single .entry{
	margin-left: 0;
}


/*-----------------artists page------------------*/
.artists-page{
	padding-right:0
}

.artist-box{
	width:300px;
	min-height:330px;
	height:auto !important;
  	height:330px;
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
}

.artists-page h3 a, .artist-page h3{
	color:#5b5b5b;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	font-weight: normal
}

.artists-page a{
	color:#cf9000
}

.artists-page .artist-info{
	margin-top: 8px;
	border-bottom: 1px dotted #999;
	padding-bottom:8px
}

.artists-page .artist-songs{
	border-bottom: 1px dotted #999;
	padding-bottom:8px;
	padding-top:8px;
}

.artist-page {
	border-bottom: 1px dotted #999;
}

.artist-page .content-left{
	float:left;
	margin-bottom:20px;
	padding-top:15px;
	width:500px;
}

.artist-page .entry{
	/*margin-top:20px*/
}

.artist-page .artist-songs{
	float:right;
	width:400px;
	padding-top:25px;
}

.artist-page artist-info{
	float:left;
}

.back-button{
	width:900px;
	text-align: right;
}

.back-button a{
	position: relative;
}


/*--------contact-page----------*/

.contact-page form{
	margin-top:20px;
	width:600px;
	float:left;
}

.contact-page form p{
	margin-bottom:12px;
	clear:both;
	color:#666;
	font-size:12px
}

#commentform p{
	color:#666;
}

.contact-page form p span{
	font-size: 11px;
	color:#999;
	margin-left:5px
}

.contact-page form span.your-message{
	margin-left: 0
}

.contact-page form label{
	float:left;
	width:90px;
	text-align: right;
	margin-right:10px
}

.contact-page form input{
	float:left;
	width:300px
}


.contact-page form .submit-btn{
	padding:0
}

.contact-page form textarea{
	width:350px;
	margin-top: 10px
}

.contact-page form .submit-btn input{
	background: #CF9000;
	color:#fff;
	text-transform: uppercase;
	border:0;
	padding:5px;
	font-weight: bold;
	cursor: pointer;
	margin-left:100px;
	width: 50px;
	margin-top: 0
}

.content-left{
	width:450px;
	float:left;
	margin-top:20px;
}

.content-right{
	width:450px;
	float:right;
	margin-top:20px;
}


#sidebar .mixpod embed, #sidebar .mixpod object {
	float:left;
}

.audioplayer_container{
	padding-left: 22px;
	margin-bottom:10px
}